body{
    background-image: url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    text-align:center;
}
p{
    font-style: italic;
    color: white;
    text-shadow: black 1px 0 10px;
}
.container{
    display :flex;
    justify-content: center;
    align-items:center;
    max-height: 20%;
    max-width: 40%;
}
img{
    max-height: 400px;
}
.container{
    background-color: rgba(245, 245, 220, 0.459);
}
